<!DOCTYPE html>
<html lang="en" id="page-top">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Affable Atom, a web design shop based in Wilmington North Carolina"
    />
    <meta name="author" content="Affable Atom" />

    <title>Affable Atom</title>
  </head>

  <body>
    <!-- Footer -->
    <div id="logo">
      <svg
        id="AAlogo"
        class="img-fluid d-block mx-auto"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 500 500"
      >
        <title>splash</title>
        <circle
          cx="256.73"
          cy="262.16"
          r="231.15"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <path
          d="M87.7,342.4A187.22,187.22,0,0,1,215.87,79.57"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <path
          d="M374.85,407.22a187.1,187.1,0,0,1-236.24,0"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <path
          d="M297.59,79.57A187.21,187.21,0,0,1,426.32,341.2"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <path
          d="M118.41,279.44a140.9,140.9,0,0,1-1.06-17.28,139.3,139.3,0,0,1,67.82-119.64"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <path
          d="M328.29,142.52a139.61,139.61,0,0,1,66.76,136.91"
          fill="none"
          stroke="#63a8f2"
          stroke-miterlimit="10"
          stroke-width="2"
        />
        <circle cx="391.21" cy="231.22" r="13.82" fill="#92c9f2" />
        <path
          d="M391.21,218.9a12.32,12.32,0,1,1-12.32,12.32,12.33,12.33,0,0,1,12.32-12.32m0-3a15.32,15.32,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z"
          fill="#fff"
        />
        <circle cx="321.49" cy="436.9" r="13.82" fill="#92c9f2" />
        <path
          d="M321.49,424.57a12.33,12.33,0,1,1-12.32,12.33,12.33,12.33,0,0,1,12.32-12.33m0-3a15.33,15.33,0,1,0,15.32,15.33,15.34,15.34,0,0,0-15.32-15.33Z"
          fill="#fff"
        />
        <path
          d="M177.13,493.25A13.83,13.83,0,1,1,191,479.42,13.84,13.84,0,0,1,177.13,493.25Z"
          fill="#92c9f2"
        />
        <path
          d="M177.13,467.1a12.33,12.33,0,1,1-12.32,12.32,12.33,12.33,0,0,1,12.32-12.32m0-3a15.33,15.33,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z"
          fill="#fff"
        />
        <path
          d="M471,362.64a13.82,13.82,0,1,1,13.82-13.82A13.84,13.84,0,0,1,471,362.64Z"
          fill="#92c9f2"
        />
        <path
          d="M471,336.5a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,471,336.5m0-3a15.32,15.32,0,1,0,15.32,15.32A15.33,15.33,0,0,0,471,333.5Z"
          fill="#fff"
        />
        <circle cx="71.6" cy="286.67" r="13.82" fill="#92c9f2" />
        <path
          d="M71.6,274.35a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,71.6,274.35m0-3a15.32,15.32,0,1,0,15.32,15.32A15.34,15.34,0,0,0,71.6,271.35Z"
          fill="#fff"
        />
        <polygon
          points="283.07 93.56 282.64 93.56 230.82 93.56 230.39 93.56 87.44 386.71 139.69 386.71 256.73 146.69 317.31 270.94 256.74 270.94 233.84 317.91 340.21 317.89 350.86 339.73 227.67 339.75 204.78 386.71 373.76 386.69 373.77 386.71 426.02 386.71 283.07 93.56"
          fill="#92c9f2"
        />
        <circle cx="306.01" cy="37.73" r="13.82" fill="#92c9f2" />
        <path
          d="M306,25.41a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,306,25.41m0-3a15.32,15.32,0,1,0,15.33,15.32A15.34,15.34,0,0,0,306,22.41Z"
          fill="#fff"
        />
        <path
          d="M133.18,136.59A13.82,13.82,0,1,1,147,122.77,13.84,13.84,0,0,1,133.18,136.59Z"
          fill="#92c9f2"
        />
        <path
          d="M133.18,110.45a12.32,12.32,0,1,1-12.32,12.32,12.32,12.32,0,0,1,12.32-12.32m0-3a15.32,15.32,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z"
          fill="#fff"
        />
      </svg>
    </div>
    <footer>
      <span class="copyright">Copyright &copy; Affable Atom 2018-2019</span>
    </footer>
  </body>
</html>
