// Styling for the masthead
.intro-atoms {
  //align-items: center;
  //padding-top: 200px;
  //padding-bottom: 10em;
  //margin: 0 4vw 500px;
  height: 90%;
  //background-image: url('/atoms-tall.svg');
  //background-repeat: no-repeat;
  //background-attachment: scroll;
  //background-position: center center;
  //background-size: contain, cover;
  //filter: drop-shadow(0 0 40px #aaa);
  //@media (orientation:landscape) {
    //background-image: url('/atoms-wide.svg');
  //}
  img {
    @include vertical-align;
    max-width:100%;
    max-height:100%;
  }
}
.intro-text {
  height: 10%;
    //@include vertical-align;
    //position: absolute;
    //left: 0;
    //right: 0;
    //bottom: 20px;
    //margin: auto;
  div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    //width: 50%;
  }
}
.btn-animated {
  animation-fill-mode: both;
  transform-origin: center bottom;
  animation: bounce 1s;
  animation-delay: 5s;
  animation-iteration-count: 2;
}

a.btn-more {
  //display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;

  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  padding: .375rem 0;

  border: 2px solid $black;
  border-radius: 100% !important;
  background: transparent;
  color: $black;
  &:active {
    color: $black;
  }
  svg {
    fill: $black;
  }
  &:hover {
    @media (hover:hover) {
      outline: none;
      border: 3px solid $gray-500;
      color: $gray-500;
      svg {
        fill: $gray-500;
      }
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

a.learn-more {
  display: inline-block;
  //position: absolute;
  //left: 0;
  //right: 0;
  //bottom: 20px;
  //margin: auto;

  animation-fill-mode: both;
  transform-origin: center bottom;
  animation: bounce 1s;
  animation-delay: 5s;
  animation-iteration-count: 2;

  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;

  padding: .375rem 0;

  //border: 2px solid $black;
  //border-radius: 100% !important;
  background: transparent;
  color: $black;
  &:active {
    color: $black;
  }
  svg {
    fill: $black;
  }
  &:hover {
    @media (hover:hover) {
      outline: none;
      //border: 3px solid $gray-500;
      color: $gray-500;
      svg {
        fill: $gray-500;
      }
    }
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
