// Mixins

// Font Mixins
@mixin regular-font {
	font-family: "M PLUS Rounded 1c";
	font-weight: 400;
	font-style: normal;
	// letter-spacing: -0.035em;
}

@mixin light-font {
	font-family: "M PLUS Rounded 1c";
	font-weight: 300;
	font-style: normal;
}
@mixin bold-font {
	font-family: "M PLUS Rounded 1c";
	font-weight: 700;
	font-style: normal;
}
@mixin gothic-font {
	font-family: "League Gothic";
}
@mixin typewriter-font {
	font-family: "Cutive Mono";
	font-style: normal;
}
@mixin typewriter-italic-font {
	font-family: "Cutive Mono";
	font-style: italic;
}

//from Creative Tim
@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin opacity($opacity) {
	opacity: $opacity;
	// IE8 filter
	$opacity-ie: ($opacity * 100);
	filter: #{alpha(opacity=$opacity-ie)};
}
