// Styling for the navbar
#mainNav {
  transition: all 0.3s;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: transparent;
  &.translucent {
    background-color: rgba($white,.95);
  }
  .navbar-brand {
    transition: all 0.3s;
    svg {
      transition: all 0.3s;
      height: 50px;
      width: 50px;
    }
  }
  .navbar-name {
    font-size: $font-size-x-large;
    @include gothic-font;
    color: $color-primary;
  }
  .navbar-title {
    @include gothic-font;
    color: $color-secondary;
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 0.25em 0.5em;
        //padding: 0.35em 1em !important;
        @include regular-font;
        font-size: $font-size-small;
        color: black;
        &.active {
          color: $color-secondary;
        }
        &:hover {
          @media (hover:hover) {
            color: $color-secondary;
          }
        }
      }
    }
  }
}
@media(min-width:768px) {
  #mainNav {
    .navbar-brand {
      @media (hover:hover) {
        &:hover {
          animation: hop 1s;
          animation-iteration-count: infinite;
        }
        &::before {
          opacity: 0;
        }
        &:hover::before {
          opacity: 0.5;
          position: absolute;
          left: 0;
          right: 0;
          content: "";
          height: 8px;
          width: 76px;
          display: block;
          background-image: url('/shadow.png');
          background-size: 60px 8px;
          background-repeat: no-repeat;
          animation: puddle 1s;
          animation-iteration-count: infinite;
        }
      }
      svg {
        height: 60px;
        width: 60px;
      }
    }
    .navbar-name {
      font-size: $font-size-xx-large;
      margin-right: 1rem;
    }
    .navbar-title {
      font-size: $font-size-xx-large;
    }
    .navbar-nav {
      flex-direction: column;
      text-align: right;
      .nav-item {
        .nav-link {
          padding: 0.35em 1em !important;
        }
      }
    }
  }
}
