html {
  width: 100%;
  height: 100%;
}

body {
  //overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: $color-background;
  color: $gray-900;
  @include regular-font;
}

#logo {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  #AAlogo {
    height: 400px;
    width: 400px;
  }
}

footer {
  text-align: center;
}
